.tux-message-editor .infocolumn-block {
    font-size: 12pt;
    background: #FCFCFC;
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    -webkit-transition: width 0.5s !important;
    transition: width 0.5s;
}
.tux-message-editor .editor-info-toggle {
    padding: 15px !important;
    cursor: pointer !important;
    float: right !important;
}
.tux-message-editor .messagekey {
	padding: 5px 0 5px 10px !important;
}
.tux-message-editor .close {
    padding: 15px !important;
    float: right !important;
}

.tux-editor-header{
    margin-top:2em!important;
}

.tux-breadcrumb{
    text-align:center;
    width:100%!important;
}
.grouptitle {
    float: none!important;
}
.description{
    text-align:center;
}
.ext-translate-language-selector{
    display:none;
}
.tux-messagetable-header {
    border-bottom: 1px solid #32a7a2;
    margin-bottom: 10px!important;
}
#wiki-body .tux-message-selector .column {
    margin-bottom: 0;
    background:none;
}
.tux-message-selector li.selected {
    border-bottom: 2px solid #32a7a2;
}
.tux-message-selector li.selected a {
    color: #32a7a2;
}
.tux-message-selector li {
    font-size:14px;
    padding: 0px 30px!important;
}
.tux-message-selector li a{
    color:#999;
}
.tux-message-item {
    padding: 10px 20px;
    max-height: none;
    height: inherit;
}
.tux-list-edit {
    display: none;
}

.tux-message-editor {
    border: none;
    position: relative;
    bottom: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    background: #fff;
}
.tux-message-editor .infocolumn-block{
    background:#fff;
}
.tux-textarea-translation {
    border: 1px solid #32a7a2!important;
    resize: none!important;
}
.tux-message-editor .button {
    font-size: 14px;
    border-radius: 0;
    font-weight: 100;
}
.tux-editor-skip-button {
    background: none!important;
    border: none!important;
}
.tux-list-status {
    float: right!important;
}
.tux-list-message,.tux-list-translation{
    color:#999;
}
.tm-suggestion{
    border: none;
    border-top: 1px solid #e0e0e0;
    box-shadow: none!important;
    background: #fff;
}
.row.help {
    position: absolute;
    bottom: 0;
}
.infocolumn-block .caret{
    display:none;
}



.header-editor-column{
    text-align: center;
}
.header-editor-column .messagekey{
    width: 100%!important;
}
#wiki-body .tux-message-editor .infocolumn-block{
    position: relative!important;
    left: 0;
    right: auto!important;
    width: 49%;
}
#wiki-body .infocolumn{
    position: relative;
    padding-bottom: 20px;
}
.tux-message-tools-menu{
    right: 0;
    top: 0;
}
.source-message-title{
    padding: 10px 0;
    font-weight: bold;
}
.source-message-content{
    padding: 5px 15px;
    border-top: 1px solid #e0e0e0;
    cursor: pointer;
}
.help {
    display: none;
}
.message-desc-control{
    display: none;
}
#wiki-body .infocolumn{
    padding-left: 20px;
}
#wiki-body .editcolumn{
    padding-right: 20px;
    padding-bottom: 10px;
    width: 50%;
}
.editcolumn .sourcemessage{
    display: none;
}
.tux-message-editor .editarea{
    width: 100%!important;
}
#wiki-body .tux-textarea-translation{
    float: right;
}
#wiki-body .tux-editor-paste-original-button{
    float: right;
}
#wiki-body .tux-editor-control-buttons{
    text-align: right;
}
#wiki-body .shortcutinfo{
    text-align: right;
}
#wiki-body .tux-message-editor .layout-actions{
    float: right;
}
#wiki-body .layout-actions .close{
    position: relative;
    bottom: 20px;
    left: 25px;
}
#wiki-body .editor-expand {
    display: none;
}
#wiki-body .tux-message-item-compact {
    max-width: none;
    padding: 30px 0;
    line-height: 1;
    margin-top: 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
}
#wiki-body .tux-pagemode-edit{
    height: auto;
}
#wiki-body .tux-messagetable-loader{
    background: none;
    box-shadow: none;
}
#wiki-body .shortcut-activated{
    margin-right: -5px;
}
#wiki-body .tux-warnings-block{
    padding-left: 25px;
}
/*#wiki-body .untranslated{*/
    /*display: none;*/
/*}*/
#wiki-body .tux-pagemode-source{
    width: 50%;
}
#wiki-body .tux-pagemode-translation {
    padding: 0 20px;
    width: 50%;
}
#wiki-body .tux-pagemode-status{
    display: none;
}
#wiki-body .tux-editor-control-buttons .button {
    float: right;
    padding: 0 20px;
    font-size: 12px;
    height: 30px;
}
#wiki-body .tux-editor-insert-buttons{
    position: absolute;
    right: 5px;
    text-align: right;
}
#wiki-body .tux-proofread-status {
    display: none;
}
#wiki-body .tux-proofread-source {
    width: 50%;
}
#wiki-body .tux-proofread-edit {
    display: none;
}
#wiki-body .tux-message-item-compact{
    margin-bottom: 0;
}
#wiki-body .tux-action-bar{
    display: none;
}
.row{
    position: relative;
}
#wiki-body .translate-order {
    position: absolute;
    top: 10px;
    color: #999;
}
.tux-message-proofread .tux-editor-skip-button{
    display: none;
}
#wiki-body .tux-messagetable-header .three.columns{
    border: 1px solid #c9c9c9;
    padding: 0;
    border-radius: 2px;
}
#wiki-body .tux-messagetable-header .two.columns{
    padding: 0;
    width: 20px;
}
#wiki-body .tux-message-filter-box-icon{
    background-size: 60%;
}
#wiki-body .tux-message-filter-box{
    border: none;
    padding: 0;
}
.parse-source{
    float: right;
    font-size: 12px;
    border: 1px solid #c9c9c9;
    padding: 2px 5px;
    border-radius: 2px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}
.source-message-title:hover .parse-source{
    display: inline-block;
}
#wiki-body .tux-editor-paste-original-button{
    display: none;
}
.ext-translate-container{
    position: relative;
}
.progress-wrap{
    position: absolute;
    top: 0;
    right: 0;
}
.progress-translated{
    color: #09c;
    margin-right: 20px;
}
.progress-checked{
    color: #32a7a2;
}
#mw-debug-html{
    display: none;
}