<div class="tux-history">
	<div class="row history-suggestions">
		{{#value}}
		<div class="nine columns historytext">
			{{text}}
		</div>
		<div class="three columns text-right service">
			{{user}}
		</div>
		{{/value}}
	</div>
</div>